* {
    margin: 0px;
    padding: 0px;
    font-family: "helvetica neue", sans-serif;
}

/* Nav/Hamburger start */
.nav {
    border-bottom: 1px solid #eaeaeb;
    text-align: right;
    height: 70px;
    line-height: 70px
}
.menu 
{
    margin: 0 30px 0 0;
}
.menu a {
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}
span {
    color: #54d17a;
}
label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height:70px;
    display: none;
    width: 26 px;
    float: right;
}
#toggle {
    display:none;
}
/* Nav/Hamburger end */

/* Logo start */
.logo {
    text-align:center;
    width:100%;
    display:center;
}
/* Logo End */

/* Card Project start */
#card {
    font-family: "helvetica neue", sans-serif;
    padding: 30px 0px;
    
} 
.title {
    text-align: center;
    padding:25px 0px;
}
.title p {
    font-size: 26px;
}

.card {
    margin: 20px 10px;
    
}
.card-body {
    
    font-family: "helvetica neue", sans-serif;
    width:100%;
    font-size: 20px;
}
.card-body :hover {
    color: #54d17a;
    text-decoration: none;
}

/* Card Project end */

/* About Mw section start */

#aboutme {margin-bottom: 25px;}
.img-wrap{width:100%}
.img-wrap img{
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px #999999;
    display:center;       
}
h2 {
    font-family:"Apple Chancery", cursive;
    display:center;
}
.me {
        text-align:center;
        width:100%;
        display:center;
        font-family:"Apple Chancery", cursive;
        font-size: 26px
    }
/* End of About Mw section start */

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        clear: right;
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }
    .logo {
        text-align:center;
        width:100%;
        display:center;
    }
}