* {
    margin: 0px;
    padding: 0px;
    font-family: "helvetica neue", sans-serif;
}

/* Nav/Hamburger start */
.nav {
    border-bottom: 1px solid #eaeaeb;
    text-align: right;
    height: 70px;
    line-height: 70px
}
.menu 
{
    margin: 0 30px 0 0;
}
.menu a {
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}
span {
    color: #54d17a;
}
label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height:70px;
    display: none;
    width: 26 px;
    float: right;
}
#toggle {
    display:none;
}
/* Nav/Hamburger end */

/* Logo start */
.logo {
    text-align:center;
    width:100%;
    display:center;
}
/* Logo End */

/* Card Project start */
#card {
    font-family: "helvetica neue", sans-serif;
    padding: 30px 0px;
    
} 
.title {
    text-align: center;
    padding:25px 0px;
}
.title p {
    font-size: 26px;
}

.card {
    margin: 20px 10px;
    
}
.card-body {
    
    font-family: "helvetica neue", sans-serif;
    width:100%;
    font-size: 20px;
}
.card-body :hover {
    color: #54d17a;
    text-decoration: none;
}

/* Card Project end */

/* About Me section start */


#aboutme {margin-bottom: 25px;}
.img-wrap{width:100%}
.img-wrap img{
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px #999999;
    display:center;       
}
h2 {
    font-family:"helvetica neue", sans-serif;
    display:center;
}
.me {
        text-align:center;
        width:100%;
        display:center;
        font-family:"helvetica neue", sans-serif;
        font-size: 26px
    }
/* End of About Me section start */

/* Contact Me Form Start */

form {
    margin-bottom: 50px;
    transition: all 4$ ease-in-out;
}
.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        clear: right;
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }
    .logo {
        text-align:center;
        width:100%;
        display:center;
    }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],

#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}


